.Futher-sec{

    height: 380px;
    margin: 10px;
    border-radius: 10px;
    box-shadow:
    inset 0 -3em 2em rgb(0 200 0 / 30%),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
    object-fit: cover;
   
}
.Futher-sec img{
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 10px;

}
.heading h1{
    font-size: 2.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: start;
    margin: 0px 20px;
    letter-spacing: 2px;
    font-weight: 500;

}
@media only screen and(max-width:500px){
    
    .heading h1{

        font-size: 1.7rem;
        
        margin: 0px 5px;
    }
}